/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/bin/*
!/bin/runtests
/public/node_modules
.sass-cache
/vagrant/.vagrant
/vagrant/Vagrantfile
/vagrant/conf/playbook.yml
/.env.*