#content {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 45px 0 0 0;
    overflow-y: auto;

    background: $color-light;

    > .row {
        padding-top: rem-calc(15px);
    }
}