body {
    display: grid;
    grid-template-rows: max-content auto max-content;
    grid-template-columns: 100%;
}
#content {
    background: $color-light;

    > .row {
        padding-top: rem-calc(15px);
    }
}