#content {
    .show-bin .show-bin-content {
        line-height: rem-calc(20px);

        a.token.markdownlink, a.token.md-link {
            color: $color-secondary;

            &:hover {
                border-bottom: 1px dashed $color-secondary;
            }
        }
    }
}