---
- hosts: all
  user: vagrant
  sudo: True
  connection: ssh
  vars:
    site_name: wpbin.lan
    mnt_dir: /mnt/wpbin
    mysql_database: wpbin
    mysql_user: root
    mysql_pass: ''
    use_xdebug: False
    http_port: 80
    https_port: 443
    apache_env_vars: {}
    sub_docroot: public
  tasks:
    - include: tasks/master.yml
  handlers:
    - include: handlers/master.yml
