{% extends 'layout.twig' %}

{% block content %}
    {{ parent() }}
    <div class="row show-bin">
        <div class="small-12 columns">
        {% spaceless %}
            <pre>
                <code class="language-php">{{ paste.get('content') }}</code>
            </pre>
        {% endspaceless %}
        </div>
    </div>
{% endblock %}